*{
	margin: 0px;
	padding: 0px;
}

/*Theme style fix going here*/
.bg_color{
	background-color: #4db6ac!important;
}
.btn_color{
	background-color: #4db6ac!important;
	color: white!important;
}
.other_color{
	background-color: #ECCDDD!important;
}
/*Theme style fix end here*/

/*Main css going here*/
.main{
	height: 750px;
}
/*Main css End here*/

/*post form going here*/
textarea.post{
	resize: none;
}
/*post form end here*/


/*user post going here*/
.user_pro_img{
	width: 60px!important;
	height: 60px!important;
}
.suggest__bondu_img{
	width: 50px!important;
	height: 50px!important;
}
/*user post end here*/

